body {
  font: 17px/1.5 'Chivo', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #E8E1CE
}

/* Global */
.container {
  width:80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}
/* Header */
header {
  background: #141412;
  color: #F0FFEA;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: #8D968A 3px solid;
}

header h1{
  font-family: 'Satisfy', cursive;
}

header a {
  color: #F0FFEA;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px; /*watch for mobile problems*/
}

header li {
  float:left;
  display: inline;
  padding: 10px 20px 10px 20px;
}

header #brand {
  float:left;
}

header #brand h1 {
  margin: 0;
}

header nav {
  float:right;
  margin-top: 10px;
}

header .accent, header .current {
  color: #8D968A;
  font-weight: bold;
}

header a:hover {
  background-color: #525252;
}

/* About me */
#about_me {
  min-height: 400px;
  padding-top: 80px;
  background:url('../img/coffee.jpg') no-repeat -500px;
  background-position: center;
  text-align: center;
  color: #FFF;
  margin-bottom: 20px;
}

#about_me #face {
  display: inline;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.p1{
  background-color: rgba(20,20,18,.5);
  transition: 1s;
  width: 75%;
  padding: 10px;
  float: right;
  display: inline;
  border-radius: 5px;
}

.p1:hover {
  background-color: rgba(20,20,18,1);
  transition: 1s;
}

/* projects */

#projects {
  max-width: 760px;
  text-align: center;
  background-color: rgba(115,114,113,1);
  transition: .75s;
  margin: auto;
  padding: 0;
  border-radius: 10px;
}

#projects:hover {
  background-color: rgba(115,114,113,.5);
  transition: .75s;
}

#projects h1 {
  margin-top: 10px;
  padding: 0;
  color: #141412;
}

#projects li {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 15px;
  text-align: center;
}

#projects ul {
  display: inline;
  text-align: center;
}

#projects p {
  font-size: 14px;
}

/* Contact Me */
#contact h1{
  color: #141412;
}

#contact li {
  padding: 10px;
  margin: 0;
  float: left;
  display: inline;
}

#contact img {
  border-radius: 5px;
}


/* Footer */
footer {
  background: #141412;
  color: #F0FFEA;
  padding-top: 20px;
  min-height: 70px;
  border-top: #8D968A 3px solid;
  text-align: center;
}
